@helper LinkButton(string url="", string color="", string addtionalClass="",string title="",string icon="",string text="")
{
    <a href="@url" class="btn btn-@color @addtionalClass" title="@title"><i class="@icon"></i>@text</a>
}