@model IEnumerable<Notlarim102.Entity.Note>

@{
    ViewBag.Title = "Index";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<br />
<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @Bootstrap.LinkButton("/Category/Create/", "dark", string.Empty, "Yeni Kayit", "bi bi-plus-lg", string.Empty)
</p>
<br />
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDraft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikeCount)
            </th>
            <th width="100px">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDraft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LikeCount)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                    @Bootstrap.LinkButton("/Category/Edit/" + item.Id, "outline-primary", "btn-sm", "Duzenle", "fas fa-edit", string.Empty)
                    @Bootstrap.LinkButton("/Category/Details/" + item.Id, "outline-info", "btn-sm", "Detay", "bi bi-search", string.Empty)
                    @Bootstrap.LinkButton("/Category/Delete/" + item.Id, "outline-danger", "btn-sm", "Sil", "bi bi-trash-fill", string.Empty)

                </td>

            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>



