@model Notlarim102.Entity.NotlarimUser

@{
    ViewBag.Title = "Profil Duzenle";
}
<link href="~/Content/ValidationStyle.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
    <div class="row">
        @using (Html.BeginForm("EditProfile","Home",FormMethod.Post,new { enctype = "multipart/form-data" })) //burdan aldigim veriyi kayita gondercem, editor for yazdigimiz icin bunu yazmak zorundayiz.
        {
            @*<div class="form-horizantal">   </div>*@
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/@Model.ProfileImageFilename" width="128" height="128" class="img rounded-circle" />
                    @Html.HiddenFor(Model=>Model.ProfileImageFilename)
                    <br /><br />
                    <input type="file" name="ProfileImage" id="ProfileImage" class="form-control" /><br />
                    <span>
                        <i>Lutfen jpg,jpeg veya png formatini kullanin.</i>
                    </span>
                </div>
                <div class="col-md-5">
                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(s => s.Id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 d-flex justify-content-end mt-4">
                            <input type="submit" value="Kaydet" class="btn btn-success" /> &nbsp;
                            @Html.ActionLink("Iptal", "ShowProfile", "Home", null, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">&nbsp;</div>
                </div>
                
            </div>
        }
   </div>

</div>