@using Notlarim102.Entity.ValueObject
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<link href="~/Content/Login-RegisterStyle.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    <div class="logred">
        <main class="form-signin">
            <form>
                <img class="mb-4 rounded-circle" src="~/images/images.jpg" alt="" width="144" height="148">
                <h1 class="h3 mb-3 fw-normal">Giriş Formu</h1>
                @Html.ValidationSummary(false)
                @* hata mesajlarini yazmak icin *@
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanici Adi", id = "floatingInput" })
                    @*<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">*@
                    <label for="floatingInput">Kullanici Adi</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", id = "floatingInput" })
                    @*<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">*@
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Sifre", id = "floatingPassword", type = "password" })
                    @*<input type="password" class="form-control" id="floatingPassword" placeholder="Password">*@
                    <label for="floatingPassword">Sifre</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.RePassword, new { @class = "form-control", placeholder = "Sifre Tekrar", id = "floatingPassword", type = "password" })
                    @*<input type="password" class="form-control" id="floatingPassword" placeholder="Password">*@
                    <label for="floatingPassword">Sifre Tekrar</label>
                </div>

                @*<div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>*@
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
        </main>
    </div>

}

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("header").hide();
        $("footer").hide();
        $("#category1").hide();
        $("#category2").addClass("col-md-12").removeClass("col-md-10");
    });

</script>

