@using Notlarim102WebApp
@model IEnumerable<Notlarim102.Entity.Category>

@{
    ViewBag.Title = "Index";
}


<br />
<p>
    @*@Html.ActionLink(" ", "Create",null, new { @class = "btn btn-outline-dark bi bi-plus-lg" })*@
    @*<a href="/Category/Create" class="btn btn-outline-dark" title="Yeni Kayit"><i class="bi bi-plus-lg"></i></a>*@
    @Bootstrap.LinkButton("/Category/Create/", "dark", string.Empty, "Yeni Kayit", "bi bi-plus-lg", string.Empty)

</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatdOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatdOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedUserName)
        </td>
        <td>
            @Bootstrap.LinkButton("/Category/Edit/" + item.Id, "outline-primary", "btn-sm", "Duzenle", "fas fa-edit", string.Empty)
            @*<a href="/Category/Edit/@item.Id" class="btn btn-outline-primary btn-sm" title="Duzenle"><i class="far fa-edit"></i></a>*@
            @Bootstrap.LinkButton("/Category/Details/" + item.Id, "outline-info", "btn-sm", "Detay", "bi bi-search", string.Empty)
            @*<a href="/Category/Details/@item.Id" class="btn btn-outline-info btn-sm" title="Detay"><i class="bi bi-search"></i></a>*@
            @Bootstrap.LinkButton("/Category/Delete/" + item.Id, "outline-danger", "btn-sm", "Sil", "bi bi-trash-fill", string.Empty)
            @*<a href="/Category/Delete/@item.Id" class="btn btn-outline-danger btn-sm" title="Sil"><i class="bi bi-trash-fill"></i></a>*@

            @*@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary far fa-edit" })
        @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info bi bi-search" })
        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger bi bi-trash-fill" })*@

        </td>
    </tr>
}

</table>
