@using Notlarim102.Entity
@using Notlarim102WebApp.Models
@model List<Comment>

@{
    NotlarimUser user = CurrentSession.User;
}

@foreach (Comment item in Model)
{
    <!--<div class="d-flex align-items-center border border-danger mb-1">
        <div class="flex-shrink-0 mt-3">-->
    @*<img src="..." alt="...">*@
    <!--<div class="bi bi-chat-left-dots-fill text-danger ms-3"></div>
        </div>
        <div class="flex-grow-1 row ms-3">
            <span class="col-md-9 fs-6" id="comment_text_@item.Id" contenteditable="false">@item.Text</span>
            @if (user != null && user.Id == item.OwnerId)
            {
                <span class="col-md-3">
                    <button type="button" class="btn btn-warning btn-sm mt-2"></button>
                    <button type="button" class="btn btn-danger btn-sm mt-2"></button>
                </span>
            }


        </div>
        <small class="col-md-12">
            <span class="bi bi-clock"></span> @item.ModifiedOn &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="bi bi-person"></span> @item.Owner.Username
        </small>
    </div>-->

    <div class="d-flex border border-primary mb-1">
        <div class="flex-shrink-0 mt-3">
            <i class="bi bi-chat-left-dots-fill text-primary ms-3"></i>
            @*<img src="..." alt="...">*@
        </div>
        <div class="flex-grow-1 row ms-3">
            <span class="col-md-9 fs-6" id="comment_text_@item.Id" contenteditable="false">@item.Text</span>
            @if (user != null && user.Id == item.Owner.Id)
            {
                <span class="col-md-3">
                    <button type="button" class="btn btn-primary btn-sm mt-2" data-edit-mode="false" onclick="doComment(this,'edit_clicked',@item.Id,'#comment_text_@item.Id')">
                        <span class="bi bi-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm mt-2" onclick="doComment(this,'delete_clicked',@item.Id)">
                        <span class="bi bi-trash"></span>
                    </button>
                </span>
            }
            <small class="col-md-12">
                <span class="bi bi-clock"></span> @item.ModifiedOn &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="bi bi-person"></span>@item.Owner.Username
            </small>
        </div>
    </div>

}

